Checks: '-*,
  bugprone-,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  objc-*,
  performance-*,
  portability-*,
  readability-*,
  -dyreadability-function-cognitive-complexity,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-avoid-bind, 
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -readability-identifier-length,
  -misc-const-correctness,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-use-using'
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true